.navbar {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 1rem;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font: normal normal normal 1.25rem/1.75rem Segoe UI;
  letter-spacing: 0px;
  color: #441e0e;
  opacity: 1;
}

.navbar > ul > li {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.navbar> ul img {
  height: 3.5rem;
}

.navbar > ul button {
  min-width: 7rem;
  padding: .5rem;
  background: #0099e6 0% 0% no-repeat padding-box;
  border: 1px solid #5da8ff;
  border-radius: 3px;
  color: #FFFFFF;
}
